@font-face {
  font-family: "TT Contrast";
  src: url("https://taigatakahashi.com/fonts/TTContrast-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "TT Contrast", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: rgb(252 250 245);
}

table,
table td,
table th {
  background-color: rgb(252 250 245) !important;
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}
